body {
  background-color: #6495ED
}



.btn {

  text-align: center;
  border: none;
  background-color: inherit;
  padding: 100px 100px;
  font-size: 40px;
  cursor: pointer;
  display: inline-block;
}


.success {
  color: white;
}

.success:hover {
  background-color: #00008B;
  color: white;
}




.vertical-center {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
